<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>Admin</title>

		<#include "../../stubs/header.html"/>

	</head>
	<body>

		<#include "../../stubs/adminNavbar.html"/>

		<!-- content -->
		<div id="content" class="container">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						Edit User
						<a href="/admin/edit/user/${user.username}/password" class="btn btn-xs btn-default pull-right">
							Change Password
						</a>
					</div>
					<div class="panel-body">
						${(msg)! ""}
						<form role="form" method="post" action="/admin/edit/user/${user.username}">
							<div class="form-group">
								<input type="text" id="name" name="name" value="${user.name}" class="form-control" placeholder="Name" required="true"/>
							</div>
							<div class="input-group">
								<input type="text" id="username" name="username" value="${user.username}" class="form-control" disabled="true" />
                                <span class="input-group-btn">
                                    <a href="/admin/edit/user/${user.username}/username" class="btn btn-default">Change</a>
                                </span>
							</div>
							<br/>
							<div class="form-group">
								<input type="email" id="email" name="email" value="${user.email}" class="form-control" placeholder="Email" required="true" />
							</div>
							<div class="input-group">
								<input type="text" id="role" name="role" value="${user.role}" class="form-control" placeholder="Role" required="true" />
                                <span class="input-group-addon">
                                    <input type="checkbox" name="active" value="true" ${(user.active == true)?string('checked="true"','')} /> Active
                                </span>
							</div>
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							<br/>
							<button class="btn btn-md btn-primary btn-block" type="submit">Save</button>
							<br/>
							<a href="/admin/list/user" class="btn btn-default btn-block">Back</a>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">

			<#include "../../stubs/scripts.html"/>

		</div>
	</body>
</html>
