<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>Admin</title>

		<#include "../../stubs/header.html"/>

	</head>
	<body>

		<#include "../../stubs/adminNavbar.html"/>

		<!-- content -->
		<div id="content" class="container">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="panel panel-default">
	  				<div class="panel-heading">View User</div>
  					<div class="panel-body">
	  					<table class="table">
	  						<tbody>
	  							<tr>
	  								<td class="text-right">Name:</td><td>${user.name}</td>
	  							</tr>
	  							<tr>
	  								<td class="text-right">Email:</td><td>${user.email}</td>
	  							</tr>
	  							<tr>
	  								<td class="text-right">Username:</td><td>${user.username}</td>
	  							</tr>
                                <tr>
                                    <td class="text-right">Role:</td><td>${user.role}</td>
                                </tr>
	  							<tr>
	  								<td class="text-right">Active:</td><td>${(user.active == true)?string("True", "False")}</td>
	  							</tr>
	  						</tbody>
	  					</table>
                        <a href="/admin/list/user" class="btn btn-default btn-block">Back</a>
                    </div>
	 			</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">

			<#include "../../stubs/scripts.html"/>

		</div>
	</body>
</html>
