<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|list</title>

		<#include "../../stubs/header.html"/>

	</head>
	<body>

		<#include "../../stubs/adminNavbar.html"/>

		<div class="container">
			${(msg)!}
			<div id="table" class="panel panel-default">
				<div class="panel-heading">Questions</div>
				<div class="panel-body">
					<div id="questions" class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Id</th>
									<th>Video Id</th>
									<th>Question</th>
									<th>Sheet Order</th>
									<th>Type</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
								<#list questions as question>
									<tr>
										<td>${question.id}</td>
										<td>${question.videoId}</td>
										<td>${question.askedQuestion}</td>
										<td>${question.sheetOrder}</td>
										<td>${question.inType?cap_first}</td>
										<td>${(question.options?size > 0)?string(question.options?join(', '), 'None')}</td>
										<td><a href="/admin/view/question/${question.id}" id="question_${question.id}">View</a></td>
									</tr>
								</#list>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">

			<#include "../../stubs/scripts.html"/>

		</div>
	</body>
</html>