<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|list</title>

		<#include "../stubs/header.html"/>

	</head>
	<body>

		<#include "../stubs/navbar.html"/>

		<div id="videos" class="container">
			<div class="col-sm-12">
				<div class="row well well-sm trans text-center">
					<br>
					<#list videos.data as video>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<a href="${video.uri}" class="thumbnail">
								<img src="${video.pictures.sizes?last.link}" class="img-responsive img-thumbnail" alt="Video Thumbnail">
							</a>
							<p><strong>${video.name}</strong></p>
						</div>
					</#list>
				</div>
			</div>
		</div>

		<#include "../stubs/footer.html"/>

		<!-- scripts -->
		<div id="scripts">

			<#include "../stubs/scripts.html"/>

		</div>
	</body>
</html>