<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|view</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
		<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Meddon' rel='stylesheet' type='text/css'>
		<style>html, body {background: url('/static/img/1.jpg') no-repeat center center fixed;}</style>
	</head>
	<body id="body">

		<!-- navbar -->
		<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Fan The Flame Dates</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/list/video">Videos</a>
						</li>
						<li>
							<a href="#">Forum</a>
						</li>
						<li>
							${(auth)?string('<a href="/register">Register</a>', '<a href="/user">My Account</a>')}
						</li>
						<li>
							${(auth)?string('<a href="/user">Login</a>', '<a href="/logout">Logout</a>')}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			${(msg)! ""}
			<div class="col-sm-12">
				<div class="row well well-sm trans">
					<div class="col-sm-7">
						<br>
						<iframe src="//player.vimeo.com/video/${video.uri?split('/')[2]}?portrait=0&title=0&byline=0&badge=0&color=eeeeee&&amp;autoplay=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<p><strong>Tags:</strong></p>
						<p>
							<#assign tags =[] />
							<#list video.tags as tag>
								<#assign tags = tags + [tag.name] />
							</#list>
							${tags?join(', ')}
						</p>
						<p><strong>Description</strong></p>
						<p>${video.description}</p>
					</div>
					<div class="col-sm-5">
						<br>
						<div class="panel panel-default">
							<div class="panel-heading">Work Book</div>
							<div class="panel-body">
								<#assign i = 0 />
								<form id="worksheet">
									<#list questions as question>
										<#switch question.inType>
											<#case "radio">
												<label id="question_${i}">${question.askedQuestion}?</label>
												<#list question.options as option>
													<div class="radio">
														<label>
															<input id="question_${i}" type="radio" name="${question.askedQuestion}" id="optionsRadios1" value="option1">
															${option}
														</label>
													</div>
												</#list>
												<#break>
											<#case "checkbox">
												<label id="question_${i}">${question.askedQuestion} (Select all that apply)</label>
												<#list question.options as option>
													<div class="checkbox">
														<label>
															<input name="${question.askedQuestion}" id="question_${i}" type="checkbox" value="${option}">
															${option}
														</label>
													</div>
												</#list>
												<#break>
											<#case "textarea">
												<label id="question_${i}">${question.askedQuestion}</label>
												<div class="form-group">
													<textarea name="${question.askedQuestion}" id="question_${i}" class="form-control" rows="5" style="resize:none;"></textarea>
												</div>
												<#break>
											<#default>
												<label id="question_${i}">${question.askedQuestion}?</label>
												<div class="form-group">
													<input name="${question.askedQuestion}" id="question_${i}" type="${question.inType}" class="form-control" required="true"/>
												</div>
										</#switch>
										<#assign i = i +1 />
									</#list>
									<br>
								</form>

								<form id="submitForm" action="/worksheet" role="form" method="post">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="save" value="true"> Save completed workbook in my profile.
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="email" value="true"> Email completed workbook to me.
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="send" value="true"> Anonymously submit my completed workbook to Fan the Flame Dates.
										</label>
									</div>
									<input type="hidden" name="userId" value="${username}">
									<input type="hidden" name="videoId" value="${video.uri}">
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<input id="answers" type="hidden" name="answers">
								</form>
								<button id="submitWorksheet" class="btn btn-md btn-default btn-block">Submit</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div id="navbar" class="footer navbar-default navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footerMenu">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="footerMenu" class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Live Events</a>
						</li>
						<li>
							<a href="/donate">Donate Today</a>
						</li>
						<li>
							<a href="/about">About Us</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<script>

				function formToObject(form) {
				    var object = {};
				    var formArray = form.serializeArray();
				    $.each(formArray, function() {
				        if (object[this.name] !== undefined) {
				            if (!object[this.name].push) {
				                object[this.name] = [object[this.name]];
				            }
				            object[this.name].push(this.value || '');
				        } else {
				            object[this.name] = this.value || '';
				        }
				    });
				    return object;
				};

				$('button[id="submitWorksheet"]').click(function() {
					obj = formToObject($('form[id="worksheet"]'));
					j = JSON.stringify(obj);
					$('input[id="answers"]').val(j);
					$('form[id="submitForm"]').submit();
				});

			</script>
		</div>
	</body>
</html>