<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|view</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
		<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Meddon' rel='stylesheet' type='text/css'>
		<style>html, body {background: url('/static/img/1.jpg') no-repeat center center fixed;}</style>
	</head>
	<body id="body">

		<!-- navbar -->
		<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Fan The Flame Dates</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/list/video">Videos</a>
						</li>
						<li>
							<a href="#">Forum</a>
						</li>
						<li>
							${(auth)?string('<a href="/register">Register</a>', '<a href="/user/account">My Account</a>')}
						</li>
						<li>
							${(auth)?string('<a href="/user">Login</a>', '<a href="/logout">Logout</a>')}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			${(msg)! ""}
			<div class="col-sm-12">
				<div class="row well well-sm trans">
					<div class="col-sm-7">
						<br>
						<iframe src="//player.vimeo.com/video/${video.uri?split('/')[2]}?portrait=0&title=0&byline=0&badge=0&color=eeeeee&&amp;autoplay=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<p><strong>Tags:</strong></p>
						<p>
							<#assign tags =[] />
							<#list video.tags as tag>
								<#assign tags = tags + [tag.name] />
							</#list>
							${tags?join(', ')}
						</p>
						<p><strong>Description</strong></p>
						<p>${video.description}</p>
					</div>
					<div class="col-sm-5">
						<br>
						<div class="panel panel-default">
							<div class="panel-heading">Work Book</div>
							<div class="panel-body">
								<form id="workbook" role="form" method="post" action="#">
									<#list worksheets as worksheet>
										<#switch worksheet.inType>
											<#case "radio">
												<strong>${worksheet.question}?</strong>
												<#list worksheet.options as option>
													<div class="radio">
														<label>
															<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
															${option}
														</label>
													</div>
												</#list>
												<#break>
											<#case "checkbox">
												<strong>${worksheet.question} (Select all that apply)</strong>
												<#list worksheet.options as option>
													<div class="checkbox">
														<label>
															<input type="checkbox" value="">
															${option}
														</label>
													</div>
												</#list>
												<#break>
											<#case "textarea">
												<strong>${worksheet.question}</strong>
												<div class="form-group">
													<textarea class="form-control" style="resize:none;"></textarea>
												</div>
												<#break>
											<#default>
												<strong>${worksheet.question}?</strong>
												<div class="form-group">
													<input type="${worksheet.inType}" id="" name="" class="form-control" required="true"/>
												</div>
										</#switch>
									</#list>
									<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
									<button class="btn btn-md btn-default btn-block" type="submit">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div id="navbar" class="navbar navbar-default navbar-static-bottom navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Live Events</a>
						</li>
						<li>
							<a href="/donate">Donate Today</a>
						</li>
						<li>
							<a href="/about">About Us</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		</div>
	</body>
</html>