<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>My Account</title>

		<#include "../stubs/header.html"/>

	</head>
	<body id="body">

		<#include "../stubs/navbar.html"/>

		<!-- content -->
		<div id="content" class="container">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="panel panel-default">
	  				<div class="panel-heading">Change Username</div>
	  				<div class="panel-body">
						<form role="form" method="post" action="/user/username">
                            <div class="form-group">
								<input type="text" id="username" name="username" class="form-control" placeholder="New Username" required="true"/>
							</div>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            <button class="btn btn-md btn-primary btn-block" type="submit">Save</button>
                            <br/>
                            <a href="/user" class="btn btn-default btn-block">Back</a>
                        </form>
	  				</div>
				</div>
			</div>
		</div>

		<#include "../stubs/footer.html"/>

		<!-- scripts -->
		<div id="scripts">

			<#include "../stubs/scripts.html"/>

		</div>
	</body>
</html>
