<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>My Account</title>

		<#include "../stubs/header.html"/>

	</head>
	<body>

		<#include "../stubs/navbar.html"/>

		<!-- content -->
		<div id="content" class="container">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="panel panel-default">
	  				<div class="panel-heading">Change Password</div>
	  				<div class="panel-body">
						<form role="form" method="post" action="/user/password">
                            <div class="form-group">
								<input type="password" id="password" name="password" class="form-control" placeholder="New Password" required="true"/>
							</div>
                            <div class="form-group">
                                <input type="password" id="confirm" name="confirm"  class="form-control" placeholder="Confirm" required="true"/>
                            </div>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            <button class="btn btn-md btn-primary btn-block" type="submit">Save</button>
                            <br/>
                            <a href="/user" class="btn btn-default btn-block">Back</a>
                        </form>
	  				</div>
				</div>
			</div>
		</div>

		<#include "../stubs/footer.html"/>

		<!-- scripts -->
		<div id="scripts">

			<#include "../stubs/scripts.html"/>

		</div>
	</body>
</html>
