<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|view</title>

		<#include "../../stubs/header.html"/>

	</head>
	<body id="body">

		<#include "../../stubs/adminNavbar.html"/>

		<div id="content" class="container">
		    <div id="videoFormDiv" class="col-sm-6" >
		        <div class="panel panel-default">
		        	<div class="panel-heading">Video</div>
		        	<div class="panel-body">
						<label>Thumbnail</label>
						<img src="${(video.pictures.sizes?last.link)!}" class="img-responsive" alt="Video Thumbnail">
		        	    <br>
						<form id="videoForm" role="form" method="post" action="/admin/video">
		        			<div class="form-group">
								<label>Name</label>
		        				<input type="text" id="name" name="name" class="form-control"
		        					placeholder="Name" required="true" value="${(video.name)!}"/>
		        			</div>
		        			<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" rows="6" id="description" name="description"
									style="resize:none;" placeholder="Description" >${(video.description)!}</textarea>
		        			</div>

							<div class="form-group">
								<label>Tags seperated by commas</label>
								<textarea class="form-control" rows="6" id="tags" name="tags"
									style="resize:none;" placeholder="Tags" ><#assign tags = [] /><#list video.tags as tag><#assign tags = tags + [tag.name] /></#list>${tags?join(', ')}</textarea>
							</div>
		        			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							<input type="hidden" name="thumb" value="${(video.pictures.sizes?last.link)!}">
							<input type="hidden" name="videoUri" value="${(video.uri)!}">
							<div class="form-group">
								<button class="btn btn-md btn-primary btn-block" type="submit">Save</button>
							</div>
							<div class="form-group">
								<a href="/admin/list/video" id="cancel" class="btn btn-default btn-block">Cancel</a>
		        			</div>
						</form>
		        	</div>
		        </div>
		    </div>

			<div class="col-sm-6">
				<div id="table" class="panel panel-default">
					<div class="panel-heading col-sm-12">
						Questions
						<a href="/admin/add/question?video_uri=${video.uri}" class="btn btn-default btn-xs pull-right">Add Question</a>
					</div>
					<div class="panel-body">
						<div id="questions" class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Question</th>
										<th>Order</th>
										<th>Type</th>
										<th>Options</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<#list questions as question>
										<tr>
											<td>${question.askedQuestion}</td>
											<td>${question.sheetOrder}</td>
											<td>${question.inType?cap_first}</td>
											<td>${(question.options?size > 0)?string(question.options?join(', '), 'None')}</td>
											<td>
												<a href="/admin/edit/question/${question.id}">Edit</a>
												<a href="#" class="text-danger questionDel" data-id="${question.id}">Delete</a>
											</td>
										</tr>
									</#list>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby=""  aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Delete Question</h4>
					</div>
					<div class="modal-body text-center">
						<p>Deleting this question will permanently remove it.</p>
						<p>Are you sure you would like to delete?</p>
						<form id="deleteQuestionForm" method="post">
							<a class="btn btn-success"  data-dismiss="modal">
								No
							</a>
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							<input type="hidden" name="videoUri" value="${video.uri}">
							<button class="btn btn-danger" type="submit">
								Yes
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">

			<#include "../../stubs/scripts.html"/>

			<script>
				$('a.questionDel').click(function() {
					$('form[id="deleteQuestionForm"]').attr('action', '/admin/del/question/'+this.getAttribute('data-id'));
					$('div[id="deleteQuestionModal"]').modal();
				});
			</script>

		</div>
	</body>
</html>