<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|list</title>

		<#include "../../stubs/header.html"/>

	</head>
	<body>

		<#include "../../stubs/adminNavbar.html"/>

		<div id="content" class="container">
			<div id="tablePanel" class="panel panel-default">
				<div class="panel-heading col-sm-12">
					Videos
					<a href="/admin/video/upload" class="btn btn-default btn-xs pull-right">Add Video</a>
				</div>
				<div class="panel-body">
					<div id="table" class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>URI</th>
									<th>Description</th>
									<th>Link</th>
									<th>Tags</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<#list videos.data as video>
									<tr>
										<td>${video.name}</td>
										<td>${video.uri}</td>
										<td>${(video.description)!}</td>
										<td><a href="${video.link}" id="" class="">Watch</a></td>
										<td>
											<#assign tags =[] />
											<#list video.tags as tag>
												<#assign tags = tags + [tag.name] />
											</#list>
											${tags?join(', ')}
										</td>
										<!--<td><a href="/admin/view/video?video_uri=${video.uri}">Edit</a></td>-->
										<td>
											<form method="post" action="/admin/del/video">
												<a class="btn btn-default btn-xs" href="/admin/view/video?video_uri=${video.uri}">
													<i class="fa fa-edit"></i>
												</a>
												<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
												<input type="hidden" name="videoUri" value="${video.uri}">
												<button class="btn btn-default btn-xs" type="submit">
													<i class="fa fa-trash-o"></i>
												</button>
											</form>
										</td>
									</tr>
								</#list>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">

			<#include "../../stubs/scripts.html"/>

		</div>
	</body>
</html>