<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|list</title>

		<#include "../../stubs/header.html"/>

	</head>
	<body>

		<#include "../../stubs/adminNavbar.html"/>

		<div id="content" class="container">
			<div id="tablePanel" class="panel panel-default">
				<div class="panel-heading col-sm-12">
					Videos
					<a href="/admin/upload/video" class="btn btn-default btn-xs pull-right">Add Video</a>
				</div>
				<div class="panel-body">
					<div id="table" class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>URI</th>
									<th>Description</th>
									<th>Link</th>
									<th>Tags</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<#list videos.data as video>
									<tr>
										<td>${video.name}</td>
										<td>${video.uri}</td>
										<td>${(video.description)!}</td>
										<td><a href="${video.link}" id="" class="">Watch</a></td>
										<td>
											<#assign tags =[] />
											<#list video.tags as tag>
												<#assign tags = tags + [tag.name] />
											</#list>
											${tags?join(', ')}
										</td>
										<td>
											<p><a href="/admin/edit/video?video_uri=${video.uri}" id="" class="">Edit</a></p>
											<p><a href="#" class="text-danger videoDel" data-id="${video.uri}">Delete</a></p>
										</td>
									</tr>
								</#list>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="deleteVideoModal" tabindex="-1" role="dialog" aria-labelledby=""  aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Delete Video</h4>
					</div>
					<div class="modal-body text-center">
						<p>Deleting this video will permanently remove it from Vimeo.</p>
						<p>Are you sure you would like to delete?</p>
						<form id="deleteVideoForm" method="post" action="/admin/del/video">
							<a class="btn btn-success"  data-dismiss="modal">
								No
							</a>
							<input type="hidden" id="videoUri" name="videoUri"/>
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							<button class="btn btn-danger" type="submit">
								Yes
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">

			<#include "../../stubs/scripts.html"/>

			<script>
				$('a.videoDel').click(function() {
					$('input[id="videoUri"]').val(this.getAttribute('data-id'));
					$('div[id="deleteVideoModal"]').modal();
				});
			</script>

		</div>
	</body>
</html>