<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>spring-boot-base|view</title>
		<meta charset="utf-8"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->  
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>		
		<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
		<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
	</head>
	<body id="body">

		<!-- navbar -->		
		<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Video</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/admin">home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content" class="container">
		    <div id="videoFormDiv" class="col-sm-offset-3 col-sm-6" >
		        <div class="panel panel-default">
		        	<div class="panel-heading">Video</div>
		        	<div class="panel-body">
						<label>Thumbnail</label>
						<img src="${video.pictures.sizes?last.link}" class="img-responsive" alt="Video Thumbnail">
		        	    <br>
						<form id="videoForm" role="form" method="post" action="/admin/video">
		        			<div class="form-group">
								<label>Name</label>
		        				<input type="text" id="name" name="name" class="form-control"
		        					placeholder="Name" required="true" value="${(video.name)!}"/>
		        			</div>
		        			<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" rows="6" id="description" name="description"
									style="resize:none;" placeholder="Description" >${(video.description)!}</textarea>
		        			</div>

							<div class="form-group">
								<label>Tags seperated by commas</label>
								<textarea class="form-control" rows="6" id="tags" name="tags"
									style="resize:none;" placeholder="Tags" ><#assign tags = [] /><#list video.tags as tag><#assign tags = tags + [tag.name] /></#list>${tags?join(', ')}</textarea>
							</div>
							<input type="hidden" id="videoUri" name="videoUri" value="${video.uri}">
		        			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							<div class="form-group">
								<button class="btn btn-md btn-primary btn-block" type="submit">Save</button>
							</div>
							<div class="form-group">
								<a href="/admin/video" id="cancel" class="btn btn-default btn-block">Cancel</a>
		        			</div>
						</form>
						<form id="videoDeleteForm" role="form" method="post" action="/admin/del/video/">
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
							<input type="hidden" name="videoUri" value="${video.uri}">
							<div class="form-group">
								<button class="btn btn-md btn-danger btn-block" type="submit">Delete</button>
							</div>
						</form>
		        	</div>
		        </div>
		    </div>
		</div>

		<!-- scripts -->
		<div id="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>		
		</div>
	</body>
</html>