body {
	font-family: 'Raleway', sans-serif;
	background-color: #eee;
}

.body {
	padding-top: 70px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
