<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>Fan the Flame Dates</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
		<link href="/static/css/custom.css" rel="stylesheet" type="text/css"/>
		<link href="/static/css/carousel.fullscreen.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Meddon' rel='stylesheet' type='text/css'>
	</head>
	<body id="body">

		<!-- navbar -->
		<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Fan The Flame Dates</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/list/video">Videos</a>
						</li>
						<li>
							<a href="#">Forum</a>
						</li>
						<li>
							${(auth)?string('<a href="register">Register</a>', '<a href="/user/account">My Account</a>')}
						</li>
						<li>
							${(auth)?string('<a href="/user">Login</a>', '<a href="/logout">Logout</a>')}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			${(msg)! ""}
		</div>

		<!-- footer -->
		<div id="navbar" class="footer navbar-default navbar-inverse">
			<div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footerMenu">
		                <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="footerMenu" class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Live Events</a>
						</li>
						<li>
							<a href="/donate">Donate Today</a>
						</li>
						<li>
							<a href="/about">About Us</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- login modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto; top:25%;">
			<div class="modal-dialog modal-sm">
				<div class="row well well-sm trans">
					${(msg)! ""}
					<form role="form" method="post" action="/login">
						<div class="form-group">
							<input type="text" id="user" name="username" class="form-control" placeholder="Username" required="true" autofocus="true"/>
						</div>
						<div class="form-group">
							<input type="password" id="pass" name="password" class="form-control" placeholder="Password" required="true"/>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
						<div class="form-group">
							<button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
						</div>
						<a class="btn btn-default btn-block" style="color:#000;" data-dismiss="modal">Cancel</a>
					</form>
				</div>
			</div>
		</div>

		<!-- Register modal -->
		<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: auto; top:10%;">
			<div class="modal-dialog modal-sm">
				<div class="row well well-sm trans">
					${(msg)! ""}
					<form role="form" method="post" action="register">
						<div class="form-group">
							<input type="text" id="name" name="name" class="form-control" placeholder="Name" required="true" autofocus="true"/>
						</div>
						<div class="form-group">
							<input type="email" id="email" name="email" class="form-control" placeholder="Email" required="true"/>
						</div>
						<div class="form-group">
							<input type="text" id="username" name="username" class="form-control" placeholder="Username" required="true"/>
						</div>
						<div class="form-group">
							<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="true"/>
						</div>
						<div class="form-group">
							<input type="password" id="confirm" name="confirm" class="form-control" placeholder="Confirm" required="true"/>
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
						<div class="form-group">
							<button class="btn btn-md btn-primary btn-block" type="submit">Sign up</button>
						</div>
						<a class="btn btn-default btn-block" style="color:#000;" data-dismiss="modal">Cancel</a>
					</form>
				</div>
			</div>
		</div>

		<!-- scripts -->
		<div id="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<script src="/static/js/carousel.fullscreen.js"></script>
			<script>
				${(RequestParameters.login??)?string("$('#loginModal').modal();", "")}
				${(RequestParameters.register??)?string("$('#registerModal').modal();", "")}
			</script>
		</div>
	</body>
</html>