<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title>Fan the Flame Dates</title>

		<#include "stubs/header.html"/>

	</head>
	<body>

		<#include "stubs/navbar.html"/>

		<div class="container">
		</div>

		<#include "stubs/modals.html"/>

		<#include "stubs/footer.html"/>

		<!-- scripts -->
		<div id="scripts">

			<#include "stubs/scripts.html"/>


			<script>
				${(RequestParameters.login??)?string("$('#loginModal').modal();", "")}
				${(RequestParameters.register??)?string("$('#registerModal').modal();", "")}
			</script>
		</div>
	</body>
</html>