<!DOCTYPE html>
<html lang="en">

	<head id="head">

		<title>Login</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
		<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
		<link href="static/css/custom.css" rel="stylesheet" type="text/css"/>

		<style>input.uploader{position:absolute;left:-9999px;}label.uploader{cursor:pointer;}</style>
	</head>

	<body id="body">

		<!-- navbar -->
		<div id="navbar" class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">SpringBoot</a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/home">Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- content -->
		<div class="container">
			<div class="col-sm-offset-4 col-sm-4">
				<legend>${"Hello World"}</legend>
				<form id="uploader" role="form" method="post" action="/upload" enctype="multipart/form-data">
					<div class="form-group">
						<label class="btn btn-default btn-block uploader" for="file1">Select File 1</label>
						<input type="file" id="file1" name="file1" class="uploader" required="true"/>
					</div>
					<div class="form-group">
						<label class="btn btn-default btn-block  uploader" for="file2">Select File 2</label>
						<input type="file" id="file2" name="file2" class="uploader" required="true"/>
					</div>
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					<button id="uploader" class="btn btn-md btn-primary btn-block" type="submit" disabled="true">Upload</button>
				</form>
			</div>
		</div>

		<!-- footer -->
		<div id="footer" class="container"></div>

		<!-- scripts -->
		<div id="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<script src="static/js/custom.js"></script>

			<script>
				function updateFileInfo() {
					var filepath = this.value;
					var m = filepath.match(/([^\/\\]+)$/);
					var filename = m[1];
					$('label[for^="'+this.id+'"]').text(filename);
					var inputs = $('form[id="uploader"] input');
					var file = true;
					for (var i = 0; i < 2; i++) {
						if (inputs[i].value === "") {
							file = false;
						}
					}
					if (file) {
						$('button[id="uploader"]').removeAttr('disabled')
					}
				}

				function addEventListenerBySelector(selector, event, fn) {
					var list = $(selector);
					list.bind(event, fn)
				}

				// add event listener on change of the file input
				addEventListenerBySelector('input.uploader', 'change', updateFileInfo);
			</script>
		</div>

	</body>

</html>